.box{
  display: flex;
  justify-content: center;
}
.input{
  height: 30px;
  width: 250px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: medium;
  background-color: rgba(228, 202, 255, 0.293);
}
.submit{
  height: 35px;
  border-radius: 10px;
  font-size: medium;
  background-color: rgba(218, 180, 255, 0.696);
}